@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(238, 238, 238);
}

body {
  display: flex;
  flex-direction: column;
  background: url("../img/background.jpg") no-repeat left center;
  background-size: cover;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e7d0ea;
  border-radius: 100px 8px 100px 0px;
  margin: 10px;
  overflow: hidden;
}

article div {
  margin: auto;
}

article > img {
  border: 4px solid #d9b9dc;
  box-shadow: 1px 1px 10px rgb(164, 105, 212);
  border-radius: 50%;
}

main > .fotos {
  display: block;
  margin: auto;
  max-width: 70vw;
}

article > div > h1 {
  margin: auto;
  text-align: center;
  line-height: 1.5;
  padding: 0 5px;
  font-size: 1.5em;
}

article > div > .name {
  font-size: 3.5em;
}

main {
  flex: 1 0 auto;
  min-height: 60vh;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
}

main .descricao {
  text-align: center;
  font-size: 0.8em;
}

main > p,
h3 {
  padding: 20px 10px;
}

.titles {
  background: linear-gradient(to right, #e7d0ea, #eeeeee);
  margin: 10px;
  border-radius: 8px 8px 100px 0px;
}

main > hr {
  border: 1px solid rgb(128, 128, 128);
}

main > ul > li {
  padding: 10px 10px;
  list-style-position: inside;
  list-style: none;
}

ul .list-style::before {
  content: "✓";
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

main > ul > li > .link {
  border-radius: 5px;
  margin-top: 10px;
  display: inline;
  color: white;
  padding: 10px;
  background-color: black;
}

main > ul > li > .link:hover {
  transform: translate(-4%, -5%);
  box-shadow: 2px 2px 8px #7a4e7a;
  background-color: rgb(46, 46, 46);
}

main > ul > li > .link > a {
  text-decoration: none;
  color: white;
}

main > ul > .icones {
  display: inline-block;
  margin: 15px auto;
}

main > ul > .icones > a > img {
  box-shadow: 2px 2px 4px #a76aa7;
  border-radius: 50%;
}

main > ul > .icones > a > img:hover {
  box-shadow: 2px 2px 8px #7a4e7a;
  border-radius: 50%;
  transform: translate(-4%, -5%);
}

.lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
  background-color: #a76aa7;
  height: 10vh;
}

footer a {
  text-decoration: none;
  color: black;
}
